* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1170px;
    padding: 0 12px;
    border: 1px solid #000;
    margin: 0 auto;
}

.header {

}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



@media (max-width: 1200px) {
    .container {
        max-width: 930px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 730px;
    }
}

@media (max-width: 786px) {
    .container {
        max-width: 100%;
    }
}